<h1 mat-dialog-title>Добавить предмет</h1>

<div mat-dialog-content>

    <form [formGroup]="updateSubject" class="ng-pristine ng-untouched ng-valid form-inline">

        <div class="input-group mb-4">
            <mat-form-field>
                <mat-label>Название предмета</mat-label>
                <input matInput formControlName="name" name="name" id="name">
            </mat-form-field>
            <div class="input-group-append">
                <button mat-raised-button type="button" matTooltip="Применить" [disabled]="updateSubject.invalid"
                    (click)="update()" [matTooltipPosition]="'above'" class="btn btn-success btn-link btn-just-icon">
                    <i class="material-icons">done</i>
                </button>
            </div>
        </div>
    </form>
</div>
