<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <h4 class="card-title">Ученики</h4>
                        <p class="card-category">
                            {{students.length}} ед
                        </p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="updateForm" (ngSubmit)="update()">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Имя</th>
                                        <th scope="col">Возраст</th>
                                        <th>
                                            <button mat-raised-button type="button" matTooltip="Добавить"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-success btn-link btn-just-icon" (click)="add()">
                                                <i class="material-icons">library_add</i>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--List is empty-->
                                    <div *ngIf="students.length==0">
                                        <span class="badge badge-warning">Список учеников пока пуст!</span>
                                    </div>

                                    <ng-container *ngFor="let student of students; let i = index">
                                        <!--List of gradelevel-->
                                        <tr *ngIf="selected != student" (click)="select(student)">
                                            <td>{{ i }}</td>
                                            <td>{{ student.name }}</td>
                                            <td>{{ student.age }}</td>
                                            <td>
                                                <button mat-mini-fab extended type="button" matTooltip="Профиль"
                                                    [matTooltipPosition]="'above'"
                                                    [routerLink]="['/student/profile/', student.id]"
                                                    class="btn btn-info btn-link btn-just-icon">
                                                    <i class="material-icons">manage_accounts</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Удалить"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-just-icon"
                                                    (click)="delete(student.id)">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </td>
                                        </tr>


                                        <tr *ngIf="selected == student" class="table-primary">
                                            <td>{{ student.id }}</td>
                                            <td>
                                                <input type="text" class="form-control" formControlName="name"
                                                    [value]="student.name" title="name" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" formControlName="age"
                                                    [value]="student.age" title="age" />
                                            </td>


                                            <td>

                                                <button mat-raised-button type="submit" matTooltip="Применить"
                                                    [disabled]="updateForm.controls['name'].invalid||updateForm.controls['age'].invalid"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-success btn-link  btn-just-icon">

                                                    <i class="material-icons"
                                                        *ngIf="updateForm.controls['name'].valid&&updateForm.controls['age'].valid">verified</i>

                                                    <i class="material-icons"
                                                        *ngIf="updateForm.controls['name'].invalid||updateForm.controls['age'].invalid">done</i>
                                                </button>

                                                <button mat-raised-button type="button" matTooltip="Отмена"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-just-icon" (click)="cancel()">
                                                    <i class="material-icons">block</i>
                                                </button>
                                            </td>

                                            <div *ngIf="updateForm.controls['name'].invalid ">
                                                <span class="badge badge-danger">Не указано имя</span>
                                            </div>
                                            <div *ngIf="updateForm.controls['age'].invalid">
                                                <span class="badge badge-danger">Добавьте возраст</span>
                                            </div>
                                        </tr>


                                    </ng-container>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>