<div class="main-content">
    <div class="container-fluid">
        <button mat-raised-button type="button" routerLink="/subjects/" class="btn btn-default back">
            <i class='fas fa-arrow-circle-left'></i>
            Назад
        </button>
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <h4 class="card-title">Программы</h4>
                        <p class="card-category">
                            Названия сгруппированных тем
                        </p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formGrade" (ngSubmit)="updateGrade()">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Описание</th>
                                        <th scope="col">Темы</th>
                                        <th>
                                            <button mat-raised-button type="button" matTooltip="Добавить"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-success btn-link btn-just-icon" (click)="addGrade()">
                                                <i class="material-icons">library_add</i>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--List is empty-->
                                    <div *ngIf="gradeList.length==0">
                                        <span class="badge badge-warning">Список программ пока пуст!</span>
                                    </div>

                                    <ng-container *ngFor="let grade of gradeList; let i = index">
                                        <!--List of gradelevel-->
                                        <tr *ngIf="gradeSelected != grade" (click)="selectGrade(grade)">
                                            <td>{{ i }}</td>
                                            <td>{{ grade.description }}</td>
                                            <td>
                                                <button mat-mini-fab extended type="button" matTooltip="Темы"
                                                    [matTooltipPosition]="'above'"
                                                    [routerLink]="['/subjects/gradelevel/', grade.id]"
                                                    [queryParams]="{'subjectid': subjectId}" class="btn btn-info ">
                                                    {{ grade.count }}
                                                </button>
                                            </td>
                                            <td>
                                                <button mat-raised-button type="button" matTooltip="Удалить"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-just-icon"
                                                    (click)="deleteDialog(grade)">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </td>
                                        </tr>


                                        <tr *ngIf="gradeSelected == grade" class="table-primary">
                                            <td>{{ grade.id }}</td>

                                            <td>
                                                <input type="text" class="form-control" formControlName="description"
                                                    [value]="grade.description" title="description" />
                                            </td>
                                            <td>

                                                <button mat-raised-button type="submit" matTooltip="Применить"
                                                    [disabled]="formGrade.controls['description'].invalid"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-success btn-link  btn-just-icon">

                                                    <i class="material-icons"
                                                        *ngIf="formGrade.controls['description'].valid">verified</i>

                                                    <i class="material-icons"
                                                        *ngIf="formGrade.controls['description'].invalid">done</i>
                                                </button>

                                                <button mat-raised-button type="button" matTooltip="Отмена"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-just-icon"
                                                    (click)="cancelGrade()">
                                                    <i class="material-icons">block</i>
                                                </button>
                                            </td>

                                            <div
                                                *ngIf="formGrade.controls['description'].invalid && formGrade.controls['description'].touched">
                                                <span class="badge badge-danger">Добавьте описание</span>
                                            </div>
                                        </tr>


                                    </ng-container>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item bg-success">1 удаление - snackbar/dialog </li>
            <li class="list-group-item bg-warning">2 отмена - snackbar/dialog</li>
            <li class="list-group-item bg-warning">3 select через кнопку</li>
            <li class="list-group-item bg-warning">4 фон select</li>
        </ul>

    </div>
</div>