<div class="main-content">
    <div class="container-fluid">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <!--Не закрытые-->
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">edit_note</mat-icon>
                    <div [matBadge]="unClosed().length" matBadgeOverlap="false" class="demo-section">Не закрытые</div>
                </ng-template>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header card-header-tabs card-header-primary">
                                <h4 class="card-title">Занятия, которые еще не подготовлены (материалы, задания)</h4>
                                <p class="card-category">
                                    {{unClosed().length}} ед
                                </p>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Дата</th>
                                            <th scope="col">Ученик</th>
                                            <th scope="col">Темы</th>
                                            <th scope="col">Оценки</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--List is empty-->
                                        <div *ngIf="unClosed().length==0">
                                            <span class="badge badge-success">Все подготовлено</span>
                                        </div>

                                        <ng-container *ngFor="let lesson of unClosed(); let i = index">
                                            <!--List of lessons-->
                                            <tr>
                                                <td>{{ i }}</td>
                                                <td>{{ lesson.date | date:'dd.MM.yyyy в HH:mm' }}</td>
                                                <td>{{ lesson.studentName }}</td>
                                                <td>
                                                    <ng-container *ngFor="let topic of lesson.topics;">
                                                        <span class="badge badge-primary">{{topic.title}}</span>
                                                    </ng-container>
                                                </td>
                                                <td matTooltip="дз/занятие" [matTooltipPosition]="'above'">
                                                    {{ lesson.gradeHome }}/{{ lesson.gradeLesson }}</td>
                                                <td>
                                                    <mat-icon *ngIf="!lesson.isPrepared" style="color: #ff0000"
                                                        matTooltip="Не подготовлено"
                                                        [matTooltipPosition]="'above'">edit_note</mat-icon>
                                                    <mat-icon *ngIf="!lesson.isTaskGiven" style="color: #ff0000"
                                                        matTooltip="Задание не выдано"
                                                        [matTooltipPosition]="'above'">task</mat-icon>
                                                    <mat-icon *ngIf="!lesson.isCompleted" style="color: #ff0000"
                                                        matTooltip="Не проведено"
                                                        [matTooltipPosition]="'above'">hourglass_top</mat-icon>

                                                    <mat-icon *ngIf="!lesson.isPaid" style="color: #ff0000"
                                                        matTooltip="Не оплачено"
                                                        [matTooltipPosition]="'above'">paid</mat-icon>
                                                </td>
                                                <td>
                                                    <button mat-mini-fab extended type="button"
                                                        matTooltip="Профиль занятия" [matTooltipPosition]="'above'"
                                                        [routerLink]="['/lessons/details/', lesson.id]"
                                                        class="btn btn-info btn-link btn-just-icon">
                                                        <i class="material-icons">settings</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <!--Все-->
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">task</mat-icon>
                    <div [matBadge]="closed().length" matBadgeOverlap="false" class="demo-section">Закрытые
                    </div>
                </ng-template>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header card-header-tabs card-header-primary">
                                <h4 class="card-title">Занятия, к которым еще не выданы задания</h4>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Дата</th>
                                            <th scope="col">Темы</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--List is empty-->
                                        <div *ngIf="closed().length==0">
                                            <span class="badge badge-warning">Пока тут пусто</span>
                                        </div>

                                        <ng-container *ngFor="let lesson of closed(); let i = index">
                                            <!--List of lessons-->
                                            <tr>
                                                <td>{{ i }}</td>
                                                <td>{{ lesson.date | date:'dd.MM.yyyy в HH:mm' }}</td>
                                                <td>
                                                    <ng-container *ngFor="let topic of lesson.topics;">
                                                        <span class="badge badge-primary">{{topic.title}}</span>
                                                    </ng-container>
                                                </td>
                                                <td>
                                                    <button mat-mini-fab extended type="button"
                                                        matTooltip="Профиль занятия" [matTooltipPosition]="'above'"
                                                        [routerLink]="['/lessons/details/', lesson.id]"
                                                        class="btn btn-info btn-link btn-just-icon">
                                                        <i class="material-icons">settings</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>