<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!--проведенные занятия-->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">check_circle</i>
                        </div>
                        <p class="card-category">Проведенные занятия</p>
                        <h3 class="card-title">{{lessonsStat.completedCount}}/{{lessonsStat.totalCount}}
                            <small>шт</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">help</i> Проведенные/все
                        </div>
                    </div>
                </div>
            </div>
            <!--оплаченные занятия-->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">receipt_long</i>
                        </div>
                        <p class="card-category">Оплаченные занятия</p>
                        <h3 class="card-title">{{lessonsStat.paidCount}}/{{lessonsStat.completedCount}}
                            <small>шт</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">help</i> Оплаченные/проведенные
                        </div>
                    </div>
                </div>
            </div>
            <!--Заработано-->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">payments</i>
                        </div>
                        <p class="card-category">Заработано</p>
                        <h3 class="card-title">{{lessonsStat.totalMoney}}
                            <small>byn</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">help</i> Из списка оплаченных занятий
                        </div>
                    </div>
                </div>
            </div>
            <!--ученики-->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">groups</i>
                        </div>
                        <p class="card-category">Ученики</p>
                        <h3 class="card-title">{{studentCount}}
                            <small>чел</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">help</i> Из списка студентов
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!--График кол-ва занятий-->
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="lessonsMonthlyStat"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Занятия</h4>
                        <p class="card-category">
                            <i class="material-icons">help</i> Количество проведенных занятий
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Последнее {{lessonsMonthlyStat.lastCompleted |
                            date:'dd.MM.yyyy в HH:mm'}}
                        </div>
                    </div>
                </div>
            </div>
            <!--График дохода по месяцам-->
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Доход</h4>
                        <p class="card-category">
                            <i class="material-icons">help</i> Оплаченные занятия
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Последнее {{lessonsMonthlyStat.lastPaid|
                            date:'dd.MM.yyyy в HH:mm'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>