<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">create_new_folder</i>
                        </div>
                        <p class="card-category">Добавить предмет</p>
                    </div>
                    <div class="card-footer">
                        <form #add="ngForm" class="ng-pristine ng-untouched ng-valid form-inline" novalidate="">

                            <div class="input-group mb-4">
                                <input type="text" class="form-control" id="Name" required maxlength="255"
                                    placeholder="Название" [(ngModel)]="subjectAdd.Name" name="Name" #Name="ngModel">
                                <div class="input-group-append">
                                    <button mat-raised-button type="button" matTooltip="Добавить"
                                        [disabled]="Name.invalid" (click)="AddSubject(add)"
                                        [matTooltipPosition]="'above'" class="btn btn-success btn-link btn-just-icon">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let subject of subjects">
                <div class="card card-stats">
                    <div class="card-header card-header card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">folder_special</i>
                        </div>
                        <p class="card-category"> {{ subject.name }}</p>
                        <span class="badge badge-pill badge-primary">Программы {{ subject.count }} шт</span>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button mat-raised-button type="button" matTooltip="Просмотр"
                                [routerLink]="['/subjects/details/', subject.id]" [matTooltipPosition]="'above'"
                                class="btn btn-info btn-link btn-just-icon">
                                <i class="material-icons">visibility</i>
                            </button>
                            <button mat-raised-button type="button" matTooltip="Переименовать"
                                [routerLink]="['/subjects/edit/', subject.id]" [matTooltipPosition]="'above'"
                                class="btn btn-warning btn-link btn-just-icon">
                                <i class="material-icons">edit</i>
                            </button>
                            <button mat-raised-button type="button" matTooltip="Удалить"
                                (click)="deleteSubjectConfirmation(subject)" [matTooltipPosition]="'above'"
                                class="btn btn-danger btn-link btn-just-icon">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>