<div class="main-content">
    <div class="container-fluid">
        <button mat-fab matTooltip="Добавить" color="basic" aria-label="Example fab with a heart icon"
            (click)="createDialog()">
            <mat-icon>create_new_folder</mat-icon>
        </button>
        <div class="row">


            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let subject of subjects">
                <div class="card card-stats">
                    <div class="card-header card-header card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">folder_special</i>
                        </div>
                        <p class="card-category"> {{ subject.name }}</p>
                        <span class="badge badge-pill badge-primary">Программы {{ subject.count }} шт</span>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button mat-raised-button type="button" matTooltip="Просмотр"
                                [routerLink]="['/subjects/details/', subject.id]" [matTooltipPosition]="'above'"
                                class="btn btn-info btn-link btn-just-icon">
                                <i class="material-icons">visibility</i>
                            </button>
                            <button mat-raised-button type="button" matTooltip="Переименовать"
                                (click)="updateDialog(subject)" [matTooltipPosition]="'above'"
                                class="btn btn-warning btn-link btn-just-icon">
                                <i class="material-icons">edit</i>
                            </button>
                            <button mat-raised-button type="button" matTooltip="Удалить" (click)="deleteDialog(subject)"
                                [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-just-icon">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>